<tr class="row taskline">
  <td class="level_spacer"></td>
  <td class="level_spacer"></td>
  <td class="col_text description {{#if hidden}}hidden_pdf{{/if}}">
    {{{description}}}
  </td>
  <td class="col_number hidden_pdf">
    {{#if supplier_ht_mode}}
      {{{supplier_ht}}}
    {{/if}}
  </td>
  <td class="col_number {{#if hidden}}hidden_pdf{{/if}}{{#unless display_units}}hidden_pdf{{/unless}}">
    {{{ht}}}
  </td>
  <td 
    class="col_number {{#if hidden}}hidden_pdf{{/if}}{{#unless display_units}}hidden_pdf{{/unless}}"
    {{#if quantity_label}}
     title="Quantité par unité d'oeuvre x quantité d'unité d'oeuvre"
    {{else}}
    title="Quantité indépendante de la quantité d'unité d'oeuvre"
    {{/if}}
    >
    {{{total_quantity}}}
    {{#if quantity_label}}
    <br />
    <small>
          <span>{{{quantity_label}}}</span>
      </small>
      {{/if}}
  </td>
  <td class="col_text {{#if hidden}}hidden_pdf{{/if}}{{#unless display_units}}hidden_pdf{{/unless}}">
    {{{unity}}}
  </td>
  <td class="col_number {{#if hidden}}hidden_pdf{{/if}}" title="{{{ht}}} x {{{total_quantity}}}">
    {{{total_ht}}}
  </td>
  <td class="col_actions width_two" colspan="2">
    <button
      data-action="workitem:edit"
      data-id="{{id}}"
      data-workid="{{price_study_work_id}}"
      type="button"
      class="btn icon only"
      title="Modifier ce produit"
      aria-label="Modifier ce produit"
    >
      <svg>
        <use href="../static/icons/endi.svg#pen"></use>
      </svg>
    </button>
    <div class="btn-group">
      <button
        class="btn icon only dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        title="Afficher plus d’actions"
        aria-label="Afficher plus d’actions"
      >
        <svg>
          <use href="../static/icons/endi.svg#dots"></use>
        </svg>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <button
            data-action="workitem:duplicate"
            data-id="{{id}}"
            data-workid="{{price_study_work_id}}"
            type="button"
            class="btn icon"
            title="Dupliquer ce produit"
            aria-label="Dupliquer ce produit"
          >
            <svg>
              <use href="../static/icons/endi.svg#copy"></use>
            </svg>
            Dupliquer
          </button>
        </li>
        <li>
          <button
            data-action="workitem:delete"
            data-id="{{id}}"
            data-workid="{{price_study_work_id}}"
            type="button"
            class="btn icon negative"
            title="Supprimer ce produit"
            aria-label="Supprimer ce produit"
          >
            <svg>
              <use href="../static/icons/endi.svg#trash-alt"></use>
            </svg>
            Supprimer
          </button>
        </li>
      </ul>
    </div>
  </td>
  <td class="col_actions row_ordering sort">
    <ul>
      {{#if is_not_first}}
        <li>
          <button
            type="button"
            data-action="workitem:up"
            data-id={{id}}
            data-workid="{{price_study_work_id}}"
            class="btn icon only up"
            title="Déplacer ce produit vers le haut"
            aria-label="Déplacer ce produit vers le haut"
            tabindex="-1"
          >
            <svg>
              <use href="/static/icons/endi.svg#arrow-up"></use>
            </svg>
          </button>
        </li>
      {{/if}}
      {{#if is_not_last}}
        <li>
          <button
            type="button"
            data-action="workitem:down"
            data-id={{id}}
            data-workid="{{price_study_work_id}}"
            class="btn icon only down"
            title="Déplacer ce produit vers le bas"
            aria-label="Déplacer ce produit vers le bas"
            tabindex="-1"
          >
            <svg>
              <use href="/static/icons/endi.svg#arrow-down"></use>
            </svg>
          </button>
        </li>
      {{/if}}
    </ul>
  </td>
  <td class="level_spacer"></td>
</tr>