<h4>Critères composant l’entrée statistique</h4>
<div class="table_container">
	<table class="hover_table">
		<thead>
			<tr>
				<th scope="col" class="col_text">Intitulé</th>
				<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<td class="col_actions" colspan="2">
					<ul>
						<li>
							<a href="javascript:void(0);" class='btn btn-primary add'>
								Ajouter
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class='btn add-or'>
								Ajouter une clause 'OU'
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class='btn add-and'>
								Ajouter une clause 'ET'
							</a>
						</li>
					</ul>
				</td>    	
			</tr>
		</tfoot>
	</table>
</div>

