<td class="col_text">
{{{ model_label }}}
</td>
<td class='col_actions width_two'>
    <ul>
    	<li>
			<a class='btn icon only' href='#{{ edit_url }}' title="Modifier cette entrée" aria-label="Modifier cette entrée">
				<svg><use href="/static/icons/endi.svg#pen"></use></svg>
			</a>
    	</li>
    	<li>
			<a class='btn icon only negative remove' title='Supprimer cette entrée' aria-label='Supprimer cette entrée'>
				<svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</a>
    	</li>
    </ul>
</td>
