<td class="col_text">
{{ title }}
</td>
<td class='col_actions width_three'>
    <ul>
		<li>
			<a class='btn icon only' href='#entries/{{id}}/edit' title="Modifier cette entrée" aria-label="Modifier cette entrée">
				<svg><use href="/static/icons/endi.svg#pen"></use></svg>
			</a>
		</li>
		<li>
			<button class='btn icon only csv_export' title='Exporter les éléments correspondant à cette entrée statistiques' aria-label='Exporter les éléments correspondant à cette entrée statistiques'>
				<svg><use href="/static/icons/endi.svg#file-export"></use></svg>
			</button>
		</li>
		<li>
			<a class='btn icon only negative remove' title='Supprimer cette entrée' aria-label='Supprimer cette entrée'>
				<svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</a>
		</li>
    </ul>
</td>
