<div class='form-group'>
    {{#if title}}
    <label>{{title}}</label>
    {{/if}}
    {{#if editable}}
        <div class="{{divCss}}">
            <label for="{{tagId}}">
				<input 
					id="{{tagId}}"
					type='checkbox'
					name='{{ field_name }}'
					value='true'
					{{#if checked}}checked{{/if}} 
				/> 
				<span>{{inline_label}}</span>
                <span class="screen-reader-text">{{ariaLabel}}</span>
            </label>
        </div>
        {{#if description}}
        <span class='help-block'>{{ description }}</span>
        {{/if}}
    {{else}}
        <div>{{label}}</div>
    {{/if}}
</div>
