{{#if editable}}
    <div class='form-group date'>
    {{#if label}}
	{{#if required}}
<label for="{{tagId}}" class="required" title="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
    <svg class="error"><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
    {{label}}
    {{#if required}}
    <span class="icon required">
        <svg><use href="/static/icons/endi.svg#required"></use></svg>
        <span><span class="screen-reader-text">Champ</span> Obligatoire</span>
    </span>
    {{/if}}
</label>
{{/if}}
        <input
            class="form-control"
                id='{{tagId}}'
                    name="{{ field_name }}"
                        type="date" {{#if required}}required{{/if}}
                        value="{{value}}" />
        {{#if description}}
        <span class='help-block'>{{ description }}</span>
        {{/if}}
    </div>
{{else}}
    <div class='form-group date'>
        <span class="label">{{label}}</span>
        <span class='form-control data'>
            {{#if date}}
                {{ date }}
            {{ else }}
                <em>Non définie</em>
            {{/if}}
        </span>
    </div>
{{/if}}
