<div class="layout flex two_cols document_header">
    {{#if title }}
	    <h4>{{{title}}}</h4>
    {{/if}}
	<div class="controls align_right"></div>
</div>
<div class="document_container">
    <div id="viewer" class="pdfViewer"></div>
    <div class="loader"></div>
</div>
{{#if footerText }}
    <p class="help_text">
        <span class="icon">
            <svg><use href="/static/icons/endi.svg#info-circle"></use></svg>
        </span>
        <small>
            <em>{{{footerText}}}</em>
        </small>
    </p>
{{/if }}
