<span class="icon_label">
    {{# if customer_label }}
        <span class="icon" title="Client">
            <svg alt="Client "><use href="/static/icons/endi.svg#user"></use></svg>
        </span>
        {{{ customer_label }}}
    {{else}}
        rien
    {{/if}}
    {{# if project_label }}
        <br />
        <span class="icon" title="Dossier"
        >
            <svg alt="Dossier "><use href="/static/icons/endi.svg#folder"></use></svg>
        </span>
        {{{ project_label }}}
    {{/if}}
    {{# if business_label }}
        <br />
        <span class="icon" title="Affaire">
            <svg alt="Affaire "><use href="/static/icons/endi.svg#list-alt"></use></svg>
        </span>
        {{{ business_label }}}
    {{/if}}
</span>
