{{#if multipage}}
        <button class="go_previous btn icon only" title="Page précédente" aria-label="Aller à la page précédente du document">
                <svg>
                        <use href="/static/icons/endi.svg#chevron-left"></use>
                </svg>
        </button>
        <button class="go_next btn icon only" title="Page suivante" aria-label="Aller à la page suivante du document">
                <svg>
                        <use href="/static/icons/endi.svg#chevron-right"></use>
                </svg>
        </button>
{{/if}}

<button class="rotate-left btn icon only" title="Tourner à gauche" aria-label="Tourner le document vers la gauche">
        <svg>
                <use href="/static/icons/endi.svg#rotate-left"></use>
        </svg>
</button>
<button class="rotate-right btn icon only" title="Tourner à droite" aria-label="Tourner le document vers la droite">
        <svg>
                <use href="/static/icons/endi.svg#rotate-right"></use>
        </svg>
</button>

<button class="zoom_in btn icon only" title="Zoomer" aria-label="Zoomer le document">
        <svg>
                <use href="/static/icons/endi.svg#search-plus"></use>
        </svg>
</button>
<button class="zoom_out btn icon only" title="Dézoomer" aria-label="Dézoomer le document">
        <svg>
                <use href="/static/icons/endi.svg#search-minus"></use>
        </svg>
</button>

<button class="open_full btn icon only" title="Télécharger" aria-label="Télécharger le fichier">
        <svg>
                <use href="/static/icons/endi.svg#download"></use>
        </svg>
</button>