<script setup>
import Icon from './Icon.vue';
</script>
<template>
    <span class="icon required">
        <Icon name='required'/>
        <span><span class="screen-reader-text">Champ</span> Obligatoire</span>
    </span>
</template>