<script>
  /** A Static tabbed view
   *
   * Static = the tabs point to HTTP URL, clicking on a tab header won't alter page, but load a new one.
   */


import { defineComponent } from 'vue'
import Icon from '@/components/Icon.vue'
import TabHeader from '@/components/TabHeader.vue'
  import IconSpan from '@/components/IconSpan.vue'

export default defineComponent({
  components: { IconSpan, TabHeader, Icon }
})
</script>

<template>
  <ul class='nav nav-tabs' role='tablist'>
    <slot name='headers' />
  </ul>

  <div class='tab-content content'>
    <div id='list-container' class='tab-pane fade in active' role='tabpanel'>
      <slot name='panels' />
    </div>
  </div>
</template>

