<div
{{#error}}
class="alert alert-danger">
<span class="icon"><svg><use href="/static/icons/endi.svg#danger"></use></svg></span> 
{{/error}}
{{^error}}
class="alert alert-success">
<span class="icon"><svg><use href="/static/icons/endi.svg#success"></use></svg></span> 
{{/error}}
<button class="icon only unstyled close" data-dismiss="alert" type="button" title="Masquer ce message" aria-label="Masquer ce message"><svg><use href="/static/icons/endi.svg#times"></use></svg></button>
{{msg}}
</div>
