<section id="task_line_form" class="modal_view size_large">
    <div role="dialog" id="task_line-forms" aria-modal="true" aria-labelledby="task_line-forms_title">
        <div class="modal_layout">
            <header>
                <button type='button' class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
                    <svg>
                        <use href="/static/icons/endi.svg#times"></use>
                    </svg>
                </button>
                <h2 id="task_line-forms_title">{{ title }}</h2>
            </header>
            {{#if add}}
                <nav>
                    <ul class="nav nav-tabs modal-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#form-container" aria-controls="form-container" id="form-tabtitle" role="tab" data-toggle="tab" tabindex='-1'>
                                Saisie libre
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#catalog-container" aria-controls="catalog-container" id="catalog-tabtitle" role="tab" tabindex='-1' data-toggle="tab">
                                Depuis le catalogue
                            </a>
                        </li>
                    </ul>
                </nav>
            {{/if}}
            <div class='tab-content'>
                <div role="tabpanel" class="tab-pane fade in active" id="form-container" aria-labelledby="form-tabtitle">
                    <form class='modal_content_layout form layout taskline-form'>
                        <div class="modal_content">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class='order'></div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class='description required'></div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-6">
                                    {{#if dateRequired}}
                                        <div class='date required'></div>
                                    {{else}}
                                        <div class='date'></div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class='cost required'></div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <div class='quantity required'></div>
                                </div>
                                <div class="col-md-6">
                                    <div class='unity'></div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-6">
                                    <div class='tva required'></div>
                                </div>
                                <div class="col-md-6">
                                    <div class='product_id'></div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <button class='btn btn-primary' type='submit' value='submit' title="{{title}}" aria-label="{{title}}" formnovalidate>
                                <svg>
                                    <use href="/static/icons/endi.svg#check"></use>
                                </svg>
                                Valider
                            </button>
                            <button class='btn' type='reset' value='submit'>
                                Annuler
                            </button>
                        </footer>
                    </form>
                </div>
                {{#if add}}
                    <div role="tabpanel" class="tab-pane" id="catalog-container" aria-labelledby="catalog-tabtitle">
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>