<section id="task_group_form" class="modal_view size_middle">
    <div role="dialog" id="task_group-forms" aria-modal="true" aria-labelledby="task_group-forms_title">
        <div class="modal_layout">
            <header>
                <button type='button' class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
                    <svg>
                        <use href="/static/icons/endi.svg#times"></use>
                    </svg>
                </button>
                <h2 id="task_group-forms_title">{{ title }}</h2>
            </header>
            {{#if add}}
                <nav>
                    <ul class="nav nav-tabs modal-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#form-container" aria-controls="form-container" id="form-tabtitle" role="tab" data-toggle="tab">
                                Saisie libre
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#catalog-container" aria-controls="catalog-container" id="catalog-tabtitle" role="tab" data-toggle="tab">
                                Depuis le catalogue
                            </a>
                        </li>
                    </ul>
                </nav>
            {{/if}}
            <div class='tab-content'>
                <div role="tabpanel" class="tab-pane fade in active" id="form-container" aria-labelledby="form-tabtitle">
                    <form class='modal_content_layout layout taskgroup-form'>
                        <div class="modal_content">
                            <fieldset>
                                <div class='order'></div>
                                <div class='taskgroup-title'></div>
                                <div class='description'></div>
                                <div class='field-display_details'></div>
                            </fieldset>
                        </div>
                        <footer>
                            <button class='btn btn-primary' type='submit' value='submit' title="{{title}}" aria-label="{{title}}" formnovalidate>
                                <svg>
                                    <use href="/static/icons/endi.svg#check"></use>
                                </svg>
                                Valider
                            </button>
                            <button class='btn' type='reset' value='submit'>
                                Annuler
                            </button>
                        </footer>
                    </form>
                </div>
                {{#if add}}
                    <div role="tabpanel" class="tab-pane" id="catalog-container" aria-labelledby="catalog-tabtitle">
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    </div>
</section>