body.caerp .twitter-typeahead {
	.tt-query {
		background: var(--form-input-background-color);
		border-radius: 0 !important;
		padding: 0;
	}
	.tt-dropdown-menu {
		background: var(--form-button-background-color);
		box-shadow: 0 2px 4px var(--box-shadow-color);
		border-radius: 0;
		.tt-suggestion {
			font-weight: bold;
			&.tt-is-under-cursor {
				background: none;
				color: var(--form-icon-button-hover-color);
			}
		}
	}
}