<div class="content_vertical_padding separate_top">
    <h2>Détail de la commande</h2>
	<div class='group-errors'></div>
	<div class="table_container">
		<table class="opa hover_table">
			<thead>
				<th scope="col" class="col_text">Description</th>
                <th scope="col" class="col_number" title="Montant Hors Taxes"><span class="screen-reader-text">Montant </span>H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
                <th scope="col" class="col_number" title="Taux de TVA"><span class="screen-reader-text">Taux de </span>TVA</th>
				<th scope="col" class="col_number">Total TTC</th>
				{{#edit}}
					<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
				{{/edit}}
			</thead>
			<tbody class='lines'>
			</tbody>
			<tfoot>
				{{#add}}
				<tr>
					<td class="col_actions" colspan="5">
						<button class='btn add'>
							<svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter un achat
						</button>
					</td>
				</tr>
				{{/add}}
			</tfoot>
		</table>
	</div>
</div>
