<div class="layout flex">
    <div>
        <h4 class="content_vertical_padding">Règlements</h4>
    	<table class="top_align_table">
    		<tbody>
    			<tr>
    				<th scope="row">CAE</th>
    				<td class="col_number">{{{ ttc_cae }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Entrepreneur</th>
    				<td class="col_number">{{{ ttc_worker }}}</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
	<div>
    	<h4 class="content_vertical_padding">Totaux</h4>
    	<table class="top_align_table">
    		<tbody>
    			<tr>
    				<th scope="row">Total HT</th>
    				<td class="col_number">{{{ ht }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total TVA</th>
    				<td class="col_number">{{{ tva }}}</td>
    			</tr>
    			<tr>
    				<th scope="row">Total TTC</th>
    				<td class="col_number">{{{ ttc }}}</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
</div>
