{{# unless can_validate_attachments}}
    {{#if justified}}
        <td class="col_status" title="Justificatif(s) accepté(s)" aria-label="Justificatif(s) accepté(s)">
            <span class="icon status valid">
                <svg>
                    <use href="../static/icons/endi.svg#check"></use>
                </svg>
            </span>
        </td>
    {{else}}
        <td class="col_status" title="Justificatif(s) en attente" aria-label="Justificatif(s) en attente">
        </td>
    {{/if}}
    {{/unless}}
    <td class="col_date">{{{ altdate }}}</td>
    <td class="col_text">
        <strong>{{ typelabel }}</strong>
        {{#if invoice_number_and_supplier}}
            <br />
            (Facture {{ invoice_number }} / {{ supplier_label }})
            {{ else }}
            {{#if invoice_number}}
                <br />
                {{invoice_number}}
            {{/if}}
            {{#if supplier_label}}
                <br />
                {{ supplier_label }}
            {{/if}}
        {{/if}}

        <!-- not actually used but next line prevents crash: -->
        <span class="business-link"></span>
    </td>
    <td class="col_text">
        <ul>
            {{#each files}}
                <li>
                    <a href="/files/{{id}}?action=download" title="Ouvrir le justificatif {{ label }} dans une nouvelle fenêtre" aria-label="Ouvrir le justificatif {{ label }} dans une nouvelle fenêtre" target="_blank">
                        {{#if is_signed}}
                            <span class="icon only tag positive" title="Fichier signé numériquement">
                                <svg role="presentation">
                                    <use href="/static/icons/endi.svg#lock"></use>
                                </svg>
                                <span class="screen-reader-text">Fichier signé numériquement</span>
                            </span>
                        {{else}}
                            <span class="icon only tag caution" title="Fichier non signé numériquement">
                                <svg role="presentation">
                                    <use href="/static/icons/endi.svg#lock-open"></use>
                                </svg>
                                <span class="screen-reader-text">Fichier non signé numériquement</span>
                            </span>
                        {{/if}}
                        {{ label }}
                    </a>
                </li>
            {{/each}}
        </ul>
    </td>
    {{#if can_validate_attachments}}
        <td class="col_text">
            <div class="justified"></div>
        </td>
    {{/if}}
    <td class="col_number">{{{ ht_label }}}</td>
    <td class="col_number">{{{ tva_label }}}</td>
    <td class="col_number">{{{ total }}}</td>
    <td class='col_actions width_{{actionColWidth}}'>
        <ul>
            {{#if withEdit }}
                <li>
                    <button class='btn icon only edit' title='Modifier' aria-label='Modifier'><svg>
                            <use href="/static/icons/endi.svg#pen"></use>
                        </svg></button>
                </li>
            {{/if}}
            {{#if withJustify }}
                <li>
                    <button class='btn icon only edit' title='Modifier et valider les justificatifs' aria-label='Modifier et valider les éléments'><svg>
                            <use href="/static/icons/endi.svg#arrow-right"></use>
                        </svg></button>
                </li>
            {{/if}}
            {{#if withDuplicate }}
                <li>
                    <button class='btn icon only duplicate' title='Dupliquer' aria-label='Dupliquer'><svg>
                            <use href="/static/icons/endi.svg#copy"></use>
                        </svg></button>
                </li>
            {{/if}}
            {{#if withBookmark }}
                <li>
                    <button class='btn icon only bookmark' title='Mettre en favori' aria-label='Mettre en favori'><svg>
                            <use href="/static/icons/endi.svg#star-empty"></use>
                        </svg></button>
                </li>
            {{/if}}
            {{#if withDelete }}
                <li>
                    <button class='btn icon only negative delete' title='Supprimer' aria-label='Supprimer'><svg>
                            <use href="/static/icons/endi.svg#trash-alt"></use>
                        </svg></button>
                </li>
            {{/if}}
        </ul>
    </td>