{{#edit}}
	<div class="layout flex two_cols content_vertical_padding separate_top">
		{{else}}
			<div class="layout flex content_vertical_padding separate_top">
{{/edit}}
<div class="vertical_align_center">
	<h2>
		<span class="icon status neutral"><svg>
				<use href="/static/icons/endi.svg#car-side"></use>
			</svg></span>
		Dépenses kilométriques
	</h2>
</div>
</div>
<div class="table_container">
	{{#edit}}
		<table class="opa hover_table top_align_table">
			{{else}}
				<table class="opa top_align_table">
	{{/edit}}
	<thead>
		{{#if is_not_empty}}
			<tr>
				<th scope="col" class="col_date">Date</th>
				<th scope="col" class="col_text" title="Type de dépense et motif de déplacement">Type<span class="screen-reader-text"> de dépense</span> et motif de déplacement</th>
				{{#if is_achat}}
					<th scope="col" class="col_text">Rattaché à…</th>
				{{/if}}
				<th scope="col" class="col_text">Départ</th>
				<th scope="col" class="col_text">Arrivée</th>
				<th scope="col" class="col_number">Kms</th>
				<th scope="col" class="col_number">Indemnités</th>
				{{#edit}}
					<th scope="col" class="col_actions width_three" title="Actions">
						<span class="screen-reader-text">Actions</span>
					</th>
				{{/edit}}
			</tr>
		{{/if}}
		<tr class="row_recap">
			{{#if is_empty}}
				<td colspan='{{#if is_achat}}7{{else}}6{{/if}}'></td>
			{{else}}
				{{#if is_achat}}
					<th scope='row' colspan='5' class='col_text'>Total</th>
				{{else}}
					<th scope='row' colspan='4' class='col_text'>Total</th>
				{{/if}}
				<td class='total_km col_number'>{{{ total_km }}}</td>
				<td class='total_ttc col_number'>{{{ total_ttc }}}</td>
			{{/if}}
			<td class='col_actions width_{{actionColWidth}}'>
				{{#edit}}
					<button class='btn btn-primary icon add' title='Ajouter une dépense kilométrique' aria-label='Ajouter une dépense kilométrique'>
						<svg>
							<use href="/static/icons/endi.svg#plus"></use>
						</svg>
						Ajouter
					</button>
				{{/edit}}
			</td>
		</tr>
	</thead>
	<tbody class='lines'>
	</tbody>
	</table>
</div>