{{#if can_validate_attachments}}
    <td class="col_text" colspan="2"></td>
    {{ else }}
    <td class="col_text" colspan="3"></td>
{{/if}}
<td class="col_text center_align" {{#if can_validate_attachments}} colspan="{{#is_achat}}6{{else}}5{{/is_achat}}" {{ else }} colspan="{{#is_achat}}5{{else}}4{{/is_achat}}" {{/if}}>
    {{#if isPreviewable}}
        <a href="#" title="Visualiser le justificatif {{{label}}}" aria-label="Visualiser le justificatif {{{label}}}">
    {{else}}
        <a href="{{{openLink}}}" title="Télécharger le justificatif {{{label}}}" aria-label="Télécharger le justificatif {{{label}}}">
    {{/if}}
    {{#if is_signed}}
        <span class="icon only tag positive" title="Fichier signé numériquement">
            <svg role="presentation">
                <use href="/static/icons/endi.svg#lock"></use>
            </svg>
            <span class="screen-reader-text">Fichier signé numériquement</span>
        </span>
    {{else}}
        <span class="icon only tag caution" title="Fichier non signé numériquement">
            <svg role="presentation">
                <use href="/static/icons/endi.svg#lock-open"></use>
            </svg>
            <span class="screen-reader-text">Fichier non signé numériquement</span>
        </span>
    {{/if}}
    {{{label}}}
    </a>


</td>
<td class="col_actions width_three">
    {{#if edit}}
        <div class="btn-group">
            <span class="new-expense-btn"></span>
            <span class="link-btn"></span>
            <span class="delete-btn"></span>
        </div>
    {{/if}}
</td>