<script setup>
  import FileRequirementLabel from './FileRequirementLabel.vue'

  const props = defineProps({
    node: Object,
    file: Object,
    requirement: Object,
    file_type: Object,
    level: { type: Number, default: 0 },
  })
</script>
<template>
  <td
    class="col_text"
    title="Cliquer pour voir ou modifier le fichier"
    :colspan="2 - level"
  >
    <div v-if="file_type">{{ file_type.label }}</div>
    <FileRequirementLabel v-if="requirement" :requirement="requirement" />
    <div v-else>Fichier libre</div>
  </td>
</template>
